/* impostazioni generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header */

/* logo */
#logo{
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    margin-left: 20px;
}

#title{
    font-size: 50px;
}

/* main */
#container{
    width: 70%;
    margin: 50px auto;
}

/* input */
.input{
    padding: 3px 4px;
    font-size: 13px;  
    border-radius: 10%;
}

#input_button{
    background-color: rgb(128, 128, 255);
    padding: 5px 7px;
    border: rgb(172, 172, 172); 
}

/* sezione1 */
